#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.matriz {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100px;
}

.circulos {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: blue;
  border: 1px solid grey;
}

.active0 {
  background: transparent;
}

.circleGreen {
  background: green;
}

.braileBoxes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}